/* STUDENTS */

h1 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: black;
  margin-bottom: -5px;
}

.student {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  justify-content: space-between;
}

.student-info {
  display: flex;
  align-items: center;
}

img {
  border: 1px solid lightgray;
  border-radius: 50%;
  height: 80px;
  width: auto;
  margin: 20px;
}

.info {
  padding-left: 20px;
  margin-bottom: 20px;
  /* position: absolute; */
}

p {
  font-size: 14px;
  line-height: 0.6;
}

button {
  margin-right: 30px;
  border: none;
  color: grey;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  cursor: pointer;
  /* position: absolute; */
}

button:focus {
  outline: none;
}

/* SEARCH */

.search-input {
  width: 100%;
  padding: 10px;
  margin: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid lightgrey;
}

.search-input:focus {
  outline: none;
}

/* TAGS */

.input-tag  {
  padding-left: 20px;
  margin-bottom: 20px;
}

.input-tag p {
  display: block;
  background-color: rgba(211, 211, 211, 0.829);
  padding: 10px 5px;
  max-width: 70px;
  border-radius: 5px;
  text-align: center;
}

input:focus {
  outline: none;
}